#urlbar[open] .urlbar-go-button,
#searchbar[open] .search-go-button
{
	height: 32px !important;
}

#urlbar-go-button,
#search-go-button,
/* < 71 */
.urlbar-go-button,
.search-go-button
{
	list-style-image: url(go.svg) !important;
}

#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon
{
	list-style-image: var(--lock-icon) !important;
}

/* warning (dangerous) */
#identity-box[pageproxystate="valid"].notSecure #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveContent #identity-icon,
#identity-box[pageproxystate="valid"].httpsOnlyErrorPage #identity-icon,
#identity-box[pageproxystate="valid"].weakCipher #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContent #identity-icon,
#identity-box[pageproxystate="valid"].mixedDisplayContentLoadedActiveBlocked #identity-icon,
#identity-box[pageproxystate="valid"].certUserOverridden #identity-icon,
#identity-box[pageproxystate="valid"].certErrorPage #identity-icon
{
    list-style-image: var(--warning-icon) !important;
}

#urlbar-input,
#searchbar-input,
.searchbar-textbox /* < 71 */
{
	transform: translateY(var(--input-offset)) !important;
	line-height: 1.745em !important;
}

/* 1x */
#urlbar
{
	--info-icon: url(info-1x.svg);
	--lock-icon: url(connection-1x.svg);
	--warning-icon: url(connection-warning-1x.svg);
}


/* 2x */
@media (min--moz-device-pixel-ratio: 2)
{
	#urlbar
	{
		--info-icon: url(info-2x.svg);
		--lock-icon: url(connection-2x.svg);
		--warning-icon: url(connection-warning-2x.svg);
	}
	
	#urlbar,
	#searchbar
	{
		--input-offset: -.5px;
	}
	
	#identity-icon-labels
	{
		padding-inline-end: .5px !important;
	}
}