
/* urlbarView = the menu when you expand the address bar */


* { 

    --tab-corner-rounding: 5px;
    --button-corner-rounding: 4px;
    --menu-corner-rounding: 5px;
    --menu-item-height: 30px;
    --animation-speed: 0.15s;
}

.urlbarView {
    width: 100% !important;
    margin-inline: 0px !important;
    box-shadow: 0px 5px 15px -7px black !important;
    border-radius: 0px 0px var(--menu-corner-rounding) var(--menu-corner-rounding) !important;
    border: none !important;
    padding-top: 0px !important;
}

.urlbarView-body-inner {
    border:none !important;    
}

.search-one-offs {
    background-color: var(--toolbar-bgcolor) !important;
}
#tracking-protection-icon-container {
    border-inline-end: none !important;
}

#pageActionSeparator {
    display: none !important;
}

.urlbar-icon, #userContext-indicator, #userContext-label {
    fill: transparent !important;
    background-color: transparent !important;
    color: transparent !important;
    transition: var(--animation-speed) !important;
}


#urlbar:hover .urlbar-icon,
#urlbar:active .urlbar-icon, 
#urlbar[focused] .urlbar-icon {
    fill: var(--toolbar-color) !important;
}

#urlbar:hover #userContext-indicator,
#urlbar:active #userContext-indicator, 
#urlbar[focused] #userContext-indicator,
#urlbar:hover #userContext-label,
#urlbar:active #userContext-label, 
#urlbar[focused] #userContext-label {
    color: var(--identity-tab-color) !important;
    fill: var(--identity-tab-color) !important;
}

.urlbar-page-action[open] {
    background-color: var(--toolbarbutton-active-background) !important;
    fill: var(--toolbar-color) !important;
}

.urlbar-page-action[open]:hover {
    background-color: var(--toolbarbutton-active-background) !important;
    fill: var(--toolbar-color) !important;
}

.urlbar-page-action[open] .urlbar-icon {
    fill: var(--toolbar-color) !important;
}

.urlbar-scheme {
    padding-bottom: 11px !important;
}


#urlbar-container {
    margin-left: -1px !important;
    margin-right: -1px !important;
}

.urlbar-input-box {
    padding: 0px 5px !important;
}

#urlbar {
    background-color: transparent !important;
    color: var(--lwt-toolbar-field-color, black) !important;
}


#urlbar:not(.hidden-focus)[focused="true"] {
    background-color: var(--toolbarbutton-hover-background) !important;
}

#pocket-button {
    padding-bottom: 4px !important;
}

.urlbar-icon-wrapper > .urlbar-icon:hover {
    background-color: transparent !important;
}

.urlbar-icon-wrapper {
    background-color: transparent !important;
    transition: background-color var(--animation-speed) !important;
}



#urlbar:not([focused]) .urlbar-input-box:hover,
#identity-box:hover, 
#tracking-protection-icon-container:hover,
.urlbar-icon:hover,
.urlbar-icon-wrapper:hover,
[anonid=urlbar-go-button]:hover {
    background-color: var(--toolbarbutton-hover-background) !important;
}


#identity-box:active,
#tracking-protection-icon-container:active,
.urlbar-icon:active,
.urlbar-icon-wrapper:active,
[anonid=urlbar-go-button]:active {
    background-color: var(--toolbarbutton-active-background) !important;
}

.urlbar-input-box, 
#identity-box,
#tracking-protection-icon-container,
[anonid=urlbar-go-button],
#urlbar {
    transition: background-color var(--animation-speed) !important;
}

#tracking-protection-icon,
#identity-box image {
    transition: fill-opacity var(--animation-speed) !important;
}

[lwthemetextcolor="dark"] .urlbarView-body-outer {
    background-color: #f5f6f7 !important;
    color: var(--toolbar-color) !important;
}

.urlbarView-body-inner {
    background-color: var(--toolbar-bgcolor) !important;
}

.downloadsPanelFooterButton:hover {
    outline: none !important;
}

#context-navigation,
#context-sep-navigation,
#context-bookmarklink,
#context-viewinfo,
#context-viewpartialsource-selection,
#inspect-separator,
#context-savelink,
#context-sendimage,
#context-setDesktopBackground,
#context_reloadTab,
#context_moveTabOptions,
#context_bookmarkTab,
.bookmarks-actions-menuseparator,
.openintabs-menuitem {
    display: none !important;
}

menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator {
	-moz-appearance: none !important;
}

menupopup:not(#BMB_bookmarksPopup) {
    padding: 6px 9px 9px !important;
	margin: -6px -9px 0 !important;
    border: 0 !important;
    background: 0 !important;
}

menu[open] menupopup:not(#BMB_bookmarksPopup) {
	margin: -12px -9px 0 !important;
}

#BMB_bookmarksPopup menu[open] menupopup {
    transform: translateY(4px) !important;
}

menupopup menuseparator
{
	margin-top: 5px !important;
    margin-bottom: 5px !important;
	padding: 0px !important;
    border-bottom: none !important;
	opacity: 0.2 !important;
}
.menupopup-arrowscrollbox {
    background: Menu !important; /* fall back if adaptable colors are removed */
}

.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
	padding: 6px 0 !important;
}


.panel-arrowcontent {
    padding-top: 0px !important;
    border: none !important;
}

.menupopup-arrowscrollbox:not(.in-bookmarks-menu) {
    border-radius: var(--menu-corner-rounding) !important;
    box-shadow: 0px 2px 9px -3px black !important;
}

.panel-arrowcontainer .panel-arrowcontent, .menupopup-arrowscrollbox, hbox[flex="1"][part="innerbox"] {
    border-radius: var(--menu-corner-rounding) !important;
}




.in-bookmarks-menu {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}


menu,
menuitem, 
menucaption {
    -moz-appearance: none !important;
    height: var(--menu-item-height) !important;
}

menu,
menuitem, 
menucaption {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

menu:not(.subviewbutton) > .menu-right  {
    margin-top: 2px !important;
    margin-right: 0px !important;
    width: 0px !important;
}

menu:not(.subviewbutton) > .menu-right image {
    margin-right: -5px !important;
    margin-top: -2px !important;
    border: 6px solid var(--toolbar-color) !important;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
}

panelview toolbarbutton:not(#fxa-manage-account-button) {
    height: var(--menu-item-height) !important;
}

#BMB_bookmarksPopup .menu-right {
    height: 23px !important;
}

#sidebar-switcher-bookmarks, #customization-uidensity-menuitem-compact {
    margin-top: 5px !important;
}

#customization-lwtheme-menu-header {
    margin-top: 0px !important;
}

@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win8), (-moz-os-version: windows-win10) {
    .bookmark-item .scrollbutton-up {
        margin-top: -3px !important;
    }

    .bookmark-item .scrollbutton-up > .toolbarbutton-icon {
        margin-top: -2px !important;
        border: 6px solid MenuText !important;
        border-top-color: transparent !important;
        border-right-color: transparent !important;
        border-left-color: transparent !important;
    }

    .bookmark-item .scrollbutton-down {
        margin-bottom: -3px !important;
    }

    .bookmark-item .scrollbutton-down > .toolbarbutton-icon {
        margin-bottom: -2px !important;
        border: 6px solid MenuText !important;
        border-bottom-color: transparent !important;
        border-right-color: transparent !important;
        border-left-color: transparent !important;
    }
    
    menu,
    menuitem, 
    menucaption {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    menu:not(.subviewbutton) > .menu-right  {
        margin-right: 0px !important;
        padding-left: 0px !important;
    }
    
    .in-bookmarks-menu {
        padding-bottom: 5px !important;
        padding-top: 1px !important;
    }
    
    #BMB_bookmarksPopup menu menupopup {
        transform: translateY(-1px) !important;
    }
}
@media not (-moz-os-version: windows-win10)  {
    @media not (-moz-os-version: windows-win8) {
       @media not (-moz-os-version: windows-win7)  {
            hbox[flex="1"][part="innerbox"] {
                box-shadow: 0px 2px 12px -6px black !important;
            }

            .menu-iconic-left {
                margin: 0px 6px !important;
            }
           
           #BMB_bookmarksPopup menu[open] menupopup {
                transform: translateY(1px) !important;
            }
        }
    }
}

menu,
menuitem,
menucaption {
    color: var(--toolbar-color) !important;
}

.menupopup-arrowscrollbox {
    background-color: var(--toolbar-bgcolor, Menu) !important;
}

menu[_moz-menuactive="true"]:not([disabled="true"]), 
menuitem[_moz-menuactive="true"]:not([disabled="true"]), 
menucaption[_moz-menuactive="true"]:not([disabled="true"]) {
    background-color: var(--toolbarbutton-hover-background, rgba(127,127,127,0.5)) !important;
}

menu[disabled="true"], 
menuitem[disabled="true"], 
menucaption[disabled="true"] {
    color: var(--toolbarbutton-hover-background, rgba(127,127,127,0.5)) !important;
}

menu[disabled="true"][_moz-menuactive="true"], 
menuitem[disabled="true"][_moz-menuactive="true"], 
menucaption[disabled="true"][_moz-menuactive="true"] {
    background-color: transparent !important;
}

.panel-arrow {
    fill: var(--toolbar-bgcolor) !important;
}

[lwthemetextcolor="dark"] panelview:not([extension]),
[lwthemetextcolor="dark"] .panel-arrowcontent {
    background-color: #f5f6f7 !important;   
}

.panel-subview-body  {
    background-color: var(--toolbar-bgcolor) !important;
}

#downloadsPanel-mainView {
    background-color: var(--toolbar-bgcolor) !important;
}

#identity-popup-mainView {
    background-color: var(--toolbar-bgcolor) !important;
}

#identity-popup-content-blocking-detected {
    color: var(--toolbar-active-background) !important;
}

#identity-popup-permission-empty-hint {
    color: var(--toolbar-active-background) !important;
}

.identity-popup-warning-yellow {
    color: black !important;
}

panel:not([viewId^="PanelUI-webext"]) .panel-arrow {
    fill: var(--toolbar-bgcolor) !important;
}

.bookmark-item [class^="scrollbutton"] {
    background-color: var(--toolbar-bgcolor) !important;
}